<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNES</title>
</head>
<body>
    <link rel="stylesheet" href="../static/css/estilo.css">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <img id="logo" src="../static/img/logo.png"> 
    <a href="\index"><u>Home</u> |</a>
    <a href="\quemsomos"><u>Quem somos</u></a>
    <a href="\contato">| <u>Contato</u></a>
    {% block padrão %}
    {% endblock %}
    <p id="direito"><b>Todos os direitos reservados</b></p>
</body>
</html>