{% extends 'base.html' %}

{% block padrão %}
<body style="background-image: url(../static/img/fundo2.png);">
<br>
<br>
<h2>Entre em contato</h2>
<h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet tempora voluptatum ullam dolor excepturi, ex, eos natus distinctio</h5>
<hr>
<form method="post" action="/contato">
    Seu email:<br>
    <input type="email" name="email"><br>
    Assunto:<br>
    <input type="text" name="assunto"><br>
    Descrição:<br>
    <textarea id="input" type="text" name="descricao"></textarea>
    <br><br>
    <input type="submit" value="Logar">
</form>
{% endblock %}