    {% extends 'base.html' %}

    {% block padrão %}
    <body style="background-image: url('../static/img/fundo.png');">
    <BR>
    <br>
    <p id="capa"><img src="../static/img/capa.png"></p>
    <h2>Sobre a universidade:</h2>
    <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi esse, molestias fuga neque a magnam consequuntur autem eius tempore, hic nulla ut veniam dolorem, voluptate obcaecati consectetur debitis corrupti adipisci? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi suscipit nemo tempora vel architecto maiores quia rem error cum. Veniam ullam nostrum ipsum natus praesentium, necessitatibus ab odit beatae hic! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia quod voluptates saepe facere a obcaecati ullam molestias mollitia sunt, minus perspiciatis porro nobis quam sit ratione culpa illo magni perferendis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo maxime sed ea voluptate ex! Voluptatibus nemo debitis, quo vitae itaque saepe consequuntur, doloribus vel beatae labore, dolore deleniti nihil ut?</h5>
    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi obcaecati nisi perferendis voluptates ut odit eos, esse harum sint inventore cumque assumenda voluptatem. Corporis, praesentium eum? Laudantium architecto commodi ullam? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim labore possimus deleniti exercitationem doloribus voluptas tenetur repudiandae aliquid, ad quas. Ad quas natus atque officiis ut reiciendis perferendis, omnis id! Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora dolores quaerat aperiam cum vero numquam quis esse, obcaecati et consequuntur corrupti quod dolorum molestiae id expedita earum eligendi quasi nulla.</h5>
    <br>
    {% endblock %}